.main {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    /* border-bottom: 1px dashed white; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo {
    font-size: 125%;
    font-weight: 500;
}

.version {
    color: #9C9C9C;
    font-size: 50%;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.li {
    margin-left: 2rem;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 575px) {
    .container {
        max-width: 85%;
    }

    .logo {
        display: none;
    }

    .ul {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .li {
        margin-left: 0rem;
        margin-right: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .logo {
        display: none;
    }

    .ul {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .li {
        margin-left: 0rem;
        margin-right: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1150px;
    }
}