.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* background-color: var(--main-background-color); */
    color: var(--main-text-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    padding: 3rem 0;
    margin: auto;
}

.description {
    margin: auto;
    padding: 0 0 2rem 0;
    line-height: var(--para-line-height);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 575px) {
    .container {
        max-width: 85%;
    }

    .heading {
        font-size: 200%;
        font-weight: 600;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1150px;
    }
}