.sectionMain {
    background-color: var(--main-background-color);
}

.sectionWrapper {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    box-sizing: border-box;
}

.sectionPartOne {
    border: 2px solid white;
    /* width: 120%; */
    height: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-right: 5px;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 1rem 0;
    break-inside: avoid;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.sectionPartOne:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: var(--card-box-shadow);
    transform: translateY(-0.2rem);
}

.sectionPartOne>img {
    border-radius: 0.3rem;
    margin-left: 1rem;
}

.name {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: var(--para-line-height);
}

.album {
    font-size: 90%;
    font-weight: 200;
    /* margin-bottom: 1rem; */
    line-height: var(--para-line-height);
}

.sectionInfo {
    margin: 1rem 1rem 2rem 1rem;
}

.last {
    font-size: 150%;
    font-weight: 200;
}

.playlist {
    font-weight: 200;
    margin-bottom: 1rem;
}

.playlist>span {
    font-weight: 400;
    text-decoration: underline;
}

.sectionTwoInfo {
    padding: 1rem;
    height: auto;
}

.dailyMuse {
    margin: 1rem 0;
    font-size: 200%;
    font-weight: 600;
}

.ribbion {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    color: white;
}

.ribbonText {
    position: absolute;
    z-index: -1;
    top: -2rem;
    left: -1.5rem;
    font-size: 300%;
    /* color: white; */
    /* transform: rotate(-45deg); */
}

.otherLinks {
    font-size: 120%;
    font-weight: 200;
}

.otherLinks>span {
    font-weight: 400;
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 575px) {
    .container {
        max-width: 85%;
    }

    .sectionWrapper {
        column-count: 1;
        flex-wrap: wrap;
    }

    .sectionPartOne {
        border-radius: 10px;
        margin: 0 0 1rem 0;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding-top: 1rem;
    }

    .sectionMain>img {
        height: 50rem;
    }

    .sectionPartOne>img {
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .sectionWrapper {
        column-count: 1;
        flex-wrap: wrap;
    }

    .sectionPartOne {
        border-radius: 10px;
        margin: 0 0 1rem 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .sectionWrapper {
        column-count: 1;
        flex-wrap: wrap;
    }

    .sectionPartOne {
        border-radius: 10px;
        margin: 0 0 1rem 0;
    }

    .sectionMain>img {
        height: 50rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1150px;
    }
}